# Database
POSTGRES_USER=lemon
POSTGRES_PASSWORD=lemon1234
POSTGRES_DB=lemon_aid
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# JWT
JWT_SECRET=your-secret-key-change-this-in-production
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7

# Redis
REDIS_URL=redis://localhost:6379/0

#google api
GOOGLE_CLIENT_ID=402778318501-spne9jgdptimd3at08in44o8pvpbcls2.apps.googleusercontent.com

# kakao api