# Kakao Developers (https://developers.kakao.com)
KAKAO_CLIENT_ID=
KAKAO_CLIENT_SECRET=
KAKAO_REDIRECT_URI=https://your-host/auth/callback/kakao

# Naver Developers (https://developers.naver.com)
NAVER_CLIENT_ID=
NAVER_CLIENT_SECRET=
NAVER_REDIRECT_URI=https://your-host/auth/callback/naver
